Label encoding w/ branching?

Label encoding has 2 sub-cases, distinguishing between single and super channels. Any reason not to encode the former as a "single-carrier super channel"? Several advantages:
- removes the branching level,
- every case is encoded as a subcarrier-flexi-n dictionnary (with a single entry for single channel), simplifying implementations,
- increases the consistency with draft-ietf-ccamp-optical-impairment-topology-yang, which reuses the OTSi-Group containing one or more OTSi's, as defined by the ITU-T.

That would end up into something like:

    +--:(flexi-grid)
       +--rw rw subcarrier-flexi-n* [flexi-n]
          +--rw flexi-n    l0-types:flexi-n
          +--rw flexi-m?   l0-types:flexi-m


Italo to check impact with with layer-0 types. No strong opinion on the change at this point. 

I do not have a strong opinion on the branching, either. 

One may think of this issue from a different perspective, that the model actually provides two mechanisms for single channel specification, one way by directly using the leaves under the "single" branch, while the other way by using the list under the "super" branch. Note that a) the branching names are not in an xpath instance, nevertheless, and b) l0-types is already out as RFC, so the groupings cannot be changed in there. 

I recalled that the branching between (single, super) channels was originally intended to facilitate the specification of single channel without always needing to point to a list. 

E.g. an xpath could be constructed as follows if using the "single" branch:
..../tet:te-label/l0-types:flexi-n,
 .../tet:te-label/l0-types:flexi-m, 

or, in another way by using the "super" branch:
..../tet:te-label/l0-types:subcarrier-flexi-n[flexi-n=123]/flexi-n, 
..../tet:te-label/l0-types:subcarrier-flexi-n[flexi-n=123]/flexi-m



The flexi-grid-label-hop grouping has been defined in RFC9093 (layer0-types) but, up to now, it is not used by any published RFC.

I am not sure this is sufficient not to apply the requirements in section 10 of RFC7950 when revising layer0-types.

An alternative option could be to define a new grouping and either do not modify the flexi-grid-label-hop grouping or deprecate it.

The WSON topology YANG model has been already published as RFC9093, Keeping the choice would make the flexi-grid models more consistent with the WSON models:

```
       +--:(wson)
          +--ro (grid-type)?
             +--:(dwdm)
             |  +--ro (single-or-super-channel)?
             |     +--:(single)
             |     |  +--ro dwdm-n?              l0-types:dwdm-n
             |     +--:(super)
             |        +--ro subcarrier-dwdm-n*   l0-types:dwdm-n
             +--:(cwdm)
                +--ro cwdm-n?                    l0-types:cwdm-n

```

As pointed out by Aihua, neither in WSON nor in flexi-grid there is any min-element statement that precludes using the (super) case for a single channel with a list of one element.

An alternative option could be not to change the YANG model but to clarify that the (super) case can be used also for single channel e.g. in the layer0-types-ext.
